/*! index.scss | Møller Systems | CC0 Public Domain */
@import "normalize";

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

@media screen and (max-width: 600px) {
  .bigscreen-text {
    display: none;
  }
}

@media screen and (max-height: 700px) {
  footer {
    font-size: 0.9em !important;
  }
  footer img.logo {
    height: 1.15em !important;
  }
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  font-size: 1.5rem;
  height: 100%;
}

main {
  flex-grow: 1;
  max-height: 92%;
}

.repl-container {
  background: black;
  height: 100%;
  width: 100%;
}

@mixin pad {
  padding-left: 0.35em;
  padding-right: 0.35em;
}

.repl-console {
  height: 100%;
  width: 100%;
  color: whitesmoke;
  min-height: 0px;
  overflow-y: auto;
}

footer {
  padding-top: 0.25em;
  color: whitesmoke;
  font-family: monospace;
  flex: none;
  background-color: #4f1af0ff;
  min-height: 8%;
  font-size: 1.35em;
  overflow: hidden;
}

footer a {
  color: #ff0;
}

footer .moesys {
  padding-left: 0.5em;
  vertical-align: middle;
}

footer img.logo {
  translate: 0 10%;
  height: 1.50em;
  float: right;
  padding-right: 0.5em;
}

.prompt {
  width: 100%;
  font-family: monospace;
  font-size: 1em;
  background-color: black;
  border: none;
}

.prompt-container {
  @include pad;
}

ul.history {
  overflow: scoll;
  @include pad;
}

.prompt::before {
  font-family: monospace;
  content: "λ> "
}

.result::before {
  font-family: monospace;
  color: cyan;
  content: "=> "
}

.result {
  font-family: monospace;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}
