/*! index.scss | Møller Systems | CC0 Public Domain */
@import "normalize";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  // display: flex;
  // justify-content: center;
  font-size: 1.5rem;
}

.repl-container {
  background: black;
  height: 100%;
  width: 100%;
}

@mixin pad {
  padding-left: 0.35em;
  padding-right: 0.35em;
}

.repl-console {
  height: 100%;
  width: 100%;
  overflow: scroll;
  color: whitesmoke;
}

.prompt {
  width: 100%;
  font-family: monospace;
  font-size: 1em;
  background-color: black;
  border: none;
}

.prompt-container {
  @include pad;
}

ul.history {
  overflow: scoll;
  margin: 0;
  @include pad;
}

.prompt::before {
  font-family: monospace;
  content: "λ> "
}

.result::before {
  font-family: monospace;
  color: cyan;
  content: "=> "
}

.result {
  font-family: monospace;
}

.output pre {
  margin: 0;
  padding: 0;
}

.error pre {
  margin: 0;
  padding: 0;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}
